<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% if site.welcome_intro %}
      {% if page.url == '/' %}
        {% include welcome_intro.html %}
      {% else %}
        <script>
          // Entering through an inner page counts as a visit; do not interrupt a later trip Home.
          try { sessionStorage.setItem('apollo-welcome-seen', '1'); } catch (_) {}
        </script>
      {% endif %}
    {% endif %}
    {% include navbar.html %}

    <main>
      {% include header.html %}

      <div class="container content">
          
        {{ content
          | replace: '<table', '<div class="table-responsive"><table'
          | replace: '</table>', '</table></div>'
          | replace: '<table>', '<table class="table">'
        }}

      </div>
    </main>

    {% include footer.html %}

  </body>
</html>
